@import url("./login.scss");
@import url("./alarmaLista.scss");

@font-face {
  font-family:Poppins;
  src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(./Poppins/Poppins-Bold.ttf);
}


#root,html,body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Poppins;
}
